
.swiper-pagination{
   position:relative;
   margin-top:20px;
   
   
}
.swiper-pagination-bullet-active{
   
   background-color: #66cc8a;
}
.swiper-button-next, .swiper-button-prev{
    color:#fff;
    top:42%;
    border-radius:9999px;
    
}

